


span {
    display:        flex;
    flex-direction: row;
    margin:         0;
    padding:        0;
}

span.start {
    justify-content:    start;
    text-align:         start;
}

span.center {
    justify-content:    center;
    text-align:         center;
}

span.end {
    justify-content:    flex-end;
    text-align:         end;
}

span.default,
span.primary    { color: var(--text-primary);   }
span.secondary  { color: var(--text-secondary); }
span.muted      { color: var(--text-muted);     }

span.brand   { color: var(--bg-brand);   }
span.info    { color: var(--bg-info);    }
span.warning { color: var(--bg-warning); }
span.danger  { color: var(--bg-danger);  }

span.xs { font-size: 0.76em; }
span.sm { font-size: 0.88em; }
span.md { font-size: 1.00em; }
span.lg { font-size: 1.15em; }
span.xl { font-size: 1.36em; }
