

.card {
    display:            flex;
    flex-direction:     column;
    align-items:        stretch;
    border-radius:      8px;
    background-color:   var(--lsp-blank);
}


.card:not(.w-100) {
    width:  fit-content;
    height: fit-content;
}


.card-header {
    padding-left:   20px;
    padding-top:    20px;
    padding-right:  20px;
}


.card-body {
    display:        flex;
    flex-direction: column;
    align-items:    stretch;
    padding:        20px;
}


.card-footer {
    padding-left:   20px;
    padding-right:  20px;
    padding-bottom: 20px;
}
