

.card {
    display:            flex;
    flex-direction:     column;
    align-items:        stretch;
    border-radius:      16px;
    background-color:   var(--bg-gray-dark);
    overflow:           hidden;
}


.card:not(.w-100) { width:  fit-content; }
.card:not(.h-100) { height: fit-content; }


.card-header {
    padding-left:   20px;
    padding-top:    20px;
    padding-right:  20px;
}


.card-body {
    display:        flex;
    flex-direction: column;
    align-items:    stretch;
    padding:        20px;
}


.card-footer {
    padding-left:   20px;
    padding-right:  20px;
    padding-bottom: 20px;
}
