


:root {

    --lsp-blue-one:     #2269F5;
    --lsp-blue-two:     rgba(34, 105, 245, 0.25) !important;
    --lsp-blue-tree:    #1257E2;

    --lsp-cyan-one:     #008FFB;
    --lsp-cyan-two:     rgba(0, 143, 251, 0.25) !important;
    --lsp-cyan-tree:    #007BD8;

    --lsp-green-one:    #00A85A;
    --lsp-green-two:    rgba(0, 168, 90, 0.25) !important;
    --lsp-green-tree:   #00944F;
    --lsp-green-four:   #00723D;

    --lsp-teal-one:     #00E396;
    --lsp-teal-two:     rgba(0, 227, 150, 0.25) !important;
    --lsp-teal-tree:    #00BD7E;
    --lsp-teal-four:    #018B5D;

    --lsp-yellow-one:   #FFC107;
    --lsp-yellow-two:   rgba(255, 193, 7, 0.25) !important;
    --lsp-yellow-tree:  #dAAA1A;
    --lsp-yellow-four:  #C0930D;

    --lsp-red-one:      #DC3545;
    --lsp-red-two:      rgba(220, 53, 69, 0.25) !important;
    --lsp-red-tree:     #BB1D2D;
    --lsp-red-four:     #9B0C1A;

    --lsp-purple-one:   #6F42C1;
    --lsp-purple-two:   rgba(111, 66, 193, 0.25) !important;
    --lsp-purple-tree:  #5D31Af;
    --lsp-purple-four:  #4F18B6;

    --lsp-white:        #FFFFFF;
    --lsp-light:        #FAFAFA;
    --lsp-primary:      #F1F2F7;
    --lsp-secondary:    #DAE2ED;

    --text-primary:     #293134;
    --text-secondary:   #AFB8BD;
    --text-muted:       #D0D5D7;

}


::placeholder {
    color:      var(--text-secondary);
    opacity:    1;
}

:-ms-input-placeholder {
    color:      var(--text-secondary);
}

::-ms-input-placeholder {
    color:      var(--text-secondary);
}
