


input {
    box-sizing:         border-box;
    display:            block;
    width:              calc(100% - 6px);
    margin:             3px;
    border-radius:      6px;
    border-width:       1px;
    border-style:       solid;
    outline:            none;
    background-color:   var(--bg-gray-light);
    color:              var(--tex-primary);
}


input.default:not(.is-success),
input.default:not(.is-warning),
input.default:not(.is-danger) { border: 1px solid var(--bg-gray); }

input:focus { background-color: var(--bg-gray); }


input.sm {
    height:         var(--control-size-sm);
    padding-left:   4px;
    padding-right:  4px;
    font-size:      14px;
}

input,
input.md {
    height:         var(--control-size-md);
    padding-left:   12px;
    padding-right:  12px;
}

input.lg {
    height:         var(--control-size-lg);
    padding-left:   11px;
    padding-right:  11px;
    font-size:      18px;
}
