


button {
    display:            flex;
    justify-content:    center;
    align-items:        center;
    margin:             3px;
    border:             none;
    outline:            none;
    cursor:             pointer;
    *cursor:            hand;
    border-radius:      6px;
    font-weight:        400;
    color:              white;
}



button.sm {
    min-height:     var(--control-size-sm);
    padding-left:   12px;
    padding-right:  12px;
    font-size:      0.65em;
}

button.md {
    min-height:     var(--control-size-md);
    padding-left:   16px;
    padding-right:  16px;
    font-size:      0.75em;
}

button.lg {
    min-height:     var(--control-size-lg);
    padding-left:   18px;
    padding-right:  18px;
    font-size:      1.00em;
}



button:not(.warning),
button:not(.clear) { color: white; }



button.clear          {
    background-color:   transparent;
    color:              var(--text-secondary);
}

button.clear:hover    {
    transition: color 0.1s ease-in;
    color:      var(--text-primary);
}



button.primary          { background-color: var(--bg-brand); }
button.primary:active,
button.primary:focus    { box-shadow: 0 0 0 3px var(--bg-brand-soft); }
button.primary:hover    {
    transition:         background-color 0.1s ease-in;
    background-color:   var(--bg-brand-dark);
}


button.info             { background-color: var(--bg-info); }
button.info:active,
button.info:focus       { box-shadow: 0 0 0 3px var(--bg-info-soft); }
button.info:hover       {
    transition:         background-color 0.1s ease-in;
    background-color:   var(--bg-info-dark);
}


button.success          { background-color: var(--bg-success); }
button.success:active,
button.success:focus    { box-shadow: 0 0 0 3px var(--bg-success-soft); }
button.success:hover    {
    transition:         background-color 0.1s ease-in;
    background-color:   var(--bg-success-dark);
}


button.warning          { background-color:   var(--bg-warning); }
button.warning:active,
button.warning:focus    { box-shadow: 0 0 0 3px var(--bg-warning-soft); }
button.warning:hover    {
    transition:         background-color 0.1s ease-in;
    background-color:   var(--bg-warning-dark);
}


button.danger           { background-color: var(--bg-danger); }
button.danger:active,
button.danger:focus     { box-shadow: 0 0 0 3px var(--bg-danger-soft); }
button.danger:hover     {
    transition:         background-color 0.1s ease-in;
    background-color:   var(--bg-danger-dark);
}
